<head>
	<meta charset="UTF-8">
	<title>react ex1</title>
	<link rel="stylesheet" href="react.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
                    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="wrapper">
                    <!-- side bar -->
    <div class="sidebar">
       
                           <div class="log">
                                                <img src="./image/logo.png" alt="">
                           </div>
        
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i>portfolio</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
        </ul> 
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

<!-- home -->
    <div class="main_content">
         
        
           <header class="w3-container w3-padding-32 w3-center " id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> LALEJ Mehdi.</h1>
    <br>
    <h3>UX/UI Designer and Web Developer.</h3>
    <br>
    <img src="./image/Capture d’écran 2022-01-18 213105.png" alt="boy" class="w3-image" width="992" height="1108">
  </header>
      </div>
      <!-- home end -->
    <!-- </div> -->
</div>

</body>
</html>